{% extends "main_app/common.html" %}
{% load static %}
{% block body %}

<style>
    .doabout{
        color:black;
        background: transparent;
        margin-top:30px;
        padding-top: 20px;
        font-family: 'Roboto Slab';
        /* text-shadow: 1px 1px 2px green, 0 0 1em black; */
        text-shadow: 0 0 5px grey;
        font-weight: bolder;
    }
    .pass-img{
      width: 70%;
      height: auto;
    }
    .password{
      margin-top: 10vh;
      height: 70vh;
    }
    .bb{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-weight: bolder;
    }
    .bb:hover{
      transition: 2ms;
      transform: scale(1.05);
      background-color: honeydew;
      color: green;
      font-weight: bolder;
      font-size: medium;
    }
    .form-control:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>

  <div class="password container mt-5">
      <div class="row">
          <div class="col-sm-5">
            <img src="{% static 'Images/password-image.PNG' %}" class="pass-img">
          </div>
          <div class="col-sm-7">
              <h2 class="doabout text-center"></i><b>CHANGE PASSWORD</b></h2>
              <hr>

              <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Old Password:</label>
                    <input type="password" class="form-control" placeholder="Enter old Password" name="old">
                  </div>
                  <div class="form-group">
                    <label>New Password:</label>
                    <input type="password" class="form-control" placeholder="Enter new password" name="new">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" class="form-control" placeholder="Confirm new password" name="confirm">
                  </div>

                  <button type="submit" class="bb btn btn-success">Submit</button>
                </form>


          </div>
      </div>
  </div>

{% ifequal error "no" %}
<script>
    alert('Password changed Successfully');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Passwords does not match, Try again');
</script>
{% endifequal %}
{% endblock %}