<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="../../static/css/styles.css">
        <style>
          .dropdown-item:hover{
              background-color: #0f3057;
          }     
        </style>
    </head>

    <body>
      <header>
        <nav class="navbar fixed-top navbar-light navbar-expand-lg py-3 px-4"  style="background-color:rgb(21,48,78); height:100px; padding:None; ">
            <a class="navbar-brand" href="/home"><i class="material-icons large text-white">home</i></a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:rgb(21,48,78); color: white;">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/emergency_contact" style="color: white; font-size: 18px;">
                      &nbsp;&nbsp; Emergency Contacts
                    </a>
                  </li>
    
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-target="#navbarDopdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 18px;">
                    &nbsp;&nbsp; More
                  </a>
                  <div class="dropdown-menu" id="navbarDropdown1" aria-labelledby="navbarDropdown1" style="background-color: #00587a;">
                    <a class="dropdown-item" style="color: white;" href="/women_rights" >Women's Rights</a>
                    <a class="dropdown-item" style="color: white;" href="/women_laws" >Women's Safety Laws </a>
                    <a class="dropdown-item" style="color: white;" href="/helpline_numbers">Women Helpline Numbers</a>
                  </div>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" color: white; font-size: 18px;">
                       <h4> &nbsp;&nbsp;  {{user.username}} </h4>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2" style="background-color: #00587a;">
                      <a class="dropdown-item" style="color: white;" href="/logout" >Logout</a>
                    </div>
                  </li>
                  {% else %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 18px;">
                        &nbsp;&nbsp;  User 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3" style="background-color: #00587a;">
                      <a class="dropdown-item" style="color: white;" href="/register">Register</a>
                      <a class="dropdown-item" style="color: white;" href="/login" >Login</a>
                    </div>
                  </li>
                  {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/emergency" style="color: white; font-size: 18px;">
                        &nbsp;&nbsp;  EMERGENCY !
                    </a>
                </li>
              </ul>
              
            </div>
          </nav>
    
          </header>

        {% if messages %}
            {% for message in messages %}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded',
                displayLength:4000});</script>
            {% endfor %}
        {% endif %}


            {% block content %}

            {% endblock %}

       <footer class="page-footer" style="background-color:rgb(21,48,78);">
      <div class="row">
        <div class="col l6 s12" style="margin:50px;">
          <h2 class="white-text"><b>Rescue</b></h2>
          <p class="white-text text-lighten-4">
          <h3>We are here to help women against crimes . and to aware about laws for women</h3>
          </p>
        </div>
          <div class="col l4 offset-l2 s12" style="margin-top:3%">
              <h3> Get latest news from Rescue</h3>
              <input type="email" placeholder="Your Email" style="border: solid 2px black;background-color:white; color:black; width:100%;text-align:center;">
              <button class="White-text" style="width:100px; height:30px; background-color:red;color:white; font-size:20px">Subscribe</button>
          </div>
        <div class="col l4 offset-l2 s12">
          <ul class="row" style="margin-top:10%">
            <li style=" margin:25px;"><a class="white-text " data-position="right" href="/home">
                <h3>About Us</h3>
              </a></li>

            <li style="margin:25px;"><a class="white-text " data-position="right" href="/developers">
                <h3>Developers</h3>
              </a></li>
               <li style="margin:25px;"><a class="white-text " data-position="right" href="/developers">
                <h3>Helpline No.</h3>
              </a></li>

          </ul>
        </div>
      </div>
       <div class="row" style="margin-left:30px;">
          <ul class="row" style="margin-left:40%">
               <li style="margin:20px 20px 20px 20px"><h3>Contact Us:</h3></li>
               <li style="margin:20px 20px 20px 20px">
                   <a href="#" style="color:white;"><i class="fab fa-facebook fa-3x"></a></i>
               </li>
               <li style="margin:20px 20px 20px 20px">
                   <a href="#" style="color:white;"><i class="fab fa-twitter fa-3x" ></i></a>
               </li>
               <li style="margin:20px 20px 20px 20px">
                   <a href="#" style="color:white;"><i class="fab fa-instagram fa-3x"></i></a>
               </li>
               <li style="margin:20px 20px 20px 20px">
                   <a href="#" style="color:white;"><i class="far fa-envelope fa-3x"></i></a>
               </li>
          </ul>
      </div>

      <hr style="width:100%; background-color:white;">
    <div class="footer-copyright">
        <h4 style="margin-left:45%"> @2020 Rescue. All rights reserved</h4>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    </body>
</html>