<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}
<html lang="en">
    {% block content %}
    <title>Rescue | Create contacts </title> 
    <style>
    html {
	scroll-behavior:smooth;
   }
  </style> 
    <body style="background-color:white;margin-top:150px;">
        <br>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="alert alert-info" role="alert">
                  <p align="center"><b>Note : </b>Your mobile number must include your country code such as +91, and must not contain spaces.</p>
                </div>
                {{form.as_p}}
                <br>
                <button style="color:white; background-color:rgb(30,142,62);  border-radius: 25px;" 
                class="btn" name="submit" type="submit"><b>Create</b></button>
            </form>
        </div>
    <br><br><br><br>
    <br><br><br>
    {% endblock %}



</html>