<!DOCTYPE html>
{%  extends 'main_app/common.html' %}
{% load static %}
{% block content %}
<html lang="en">
	<body style="background-color:white;">
	<br><br>

	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body" style="background-color:rgb(217,48,37); border-radius: 10px;" >


					<p style="color: white;" ><strong>Are you sure you want to permanently remove {{item}} contact ?</strong></p>

					<form action="{% url 'main_app:delete_contact' item.id  %}" method="POST">

						{% csrf_token %}
						<a style="color:black; background-color:white; border-radius: 20px;" class="btn btn-warning" href="{% url 'main_app:emergency_contact' %}"><b>Cancel</b></b></a>

						<input style="color:black; background-color:white; border-radius: 20px; font-weight: 700;" class="btn btn-danger" type="submit" name="Yes">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br>

{% endblock %}
</html>