<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HELP!</title>
</head>
<body style="padding: 0;width:75%; margin: 0;border:5px solid rgb(6, 17, 31);border-style: ridge;">
  <div style="background-color: rgb(6, 17, 31);padding:1px;text-align: center;">
    <h1 style="color:white;padding-left:20px;font-size:25px;"><b>Rescue</b></h2>
    <p style="color: white;font-size:18px;padding-left:20px;">
      An initiative to fight against the Heinous crimes against Women happening in the society
    </p> 
  </div>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <h1 style="font-size:35px;text-align: center; padding:5px;background-color:rgb(217,48,37);color: white;font-family: 'Anton', sans-serif;">EMERGENCY!! EMERGENCY!! EMERGENCY!!</h1>
  <div>
    <h1 style="color:rgb(74,131,135); text-align: center;margin-top:5px;font-family: 'Anton', sans-serif;">{name:} is in Emergency 	
      &#128680; And in need of your help immediately.
    </h1> 
  </div>
  <div style="padding:20px;text-align: center;">
    <h1>Get in touch with them as soon as possible!!</h1>
    <ul style="font-size:18px;text-align: left;">
      <li>Report about the emergency situation to the nearby police station</li>
      <li>Immediately make a call to them and ask what was their problem and what type of issues they are facing</li>
      <li>Reach the spot as soon as possible to rescue them</li>
      <li>Give them some precautionary measures to save themselves from the crime</li>
    </ul> 
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
    <div style="text-align: center;">
      <a href="{link:}"><button style="font-size:30px;color:white;background-color:rgb(217,48,37);text-align:center;margin-top:10px;font-family: 'Ultra', serif;border-radius:40px;padding:10px;">Click here to get the Location &#x1F4CD;</button></a>
    </div>
  </div>
 
  <div style="background-color: rgb(6, 17, 31);text-align: center;padding-top: 1%;padding-bottom:1%; ">
    <div class="row" style="margin: 0px">
      <div class="col l6 s12" style="margin-left: 5%;margin-right: 5%;">
        <p style="color: white;font-size: 20px;">
          We are here to help women against crimes  and to aware about laws for women
        </p>
      </div>
     </div> 
  </div>
</body>
</html>
