<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HELP!</title>
</head>
<body style="padding: 0; margin: 0;">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <h1 style="text-align: center; background-color:rgb(217,48,37);color: black;font-family: 'Anton', sans-serif;">EMERGENCY!! EMERGENCY!! EMERGENCY!!</h1>
  <h1 style="color:rgb(74,131,135); text-align: center;font-family: 'Anton', sans-serif;">{name:} is in emergency and need your help immediately.
  <br>
  Get the location by clicking on the button below.
  </h1>
  <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
  <a href="{link:}"><button style="font-size: 50px; margin-left:auto;margin-right:auto;display:block;margin-top:10px;font-family: 'Ultra', serif;">Get Location</button></a>
</body>
</html>