<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}

<html lang="en">
{% block content %}
<head>
    <title>Rescue | Emergency</title>
    <style>
        html {
        scroll-behavior:smooth;
       }
      </style> 

</head>

<body style="height:1000px; max-width:100%; background-color:white;margin-top:60px;">
    <div class="container" style="height:65%; max-width:100%">

        <h1 style="color:rgb(217,48,37); text-align: center;"><b>EMERGENCY SITUATION!!</b></h1>

    </div>
</body>

{% endblock %}

</html>