<!DOCTYPE html>
<html>
<head>
	<title>Location Details for SOS Sent to Nearest Police Station</title>
</head>
<body>
	<h1>Location Details</h1>
	<h2>Contact Details</h2>
	<P>Name : <input type="text" name="Name" required> </P>
	<P>Email : <input type="text" name="Email" id="Email"> </P>
	<P>Conact No. : <input type="text" name="Name"> </P>
	<P>Landline : <input type="text" name="Landline"> </P>
	<P>Location : <input type="text" name="Location"> </P>
	<input type="Submit" name="Submit">
</body>
</html>