<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}
<html lang="en">
{% block content %}
<style>
    .display-4{
        text-align: center;
        color: black; 
        font-family: 'Bangers', cursive;
    }

</style>
<body style="background-color:white;margin-top: 60px;">

    <div class="login-page" style="padding:80px;margin-top: 30px;margin-bottom: 30px;">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
           
        <h4 class="display-4">Password reset Sent</h4>
        <br><br>
        
        <p style="font-size:22px;">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

        <br>
        <p style="font-size:22px;">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>


{% endblock %}
</html>