<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}
<head>
</head>
<html lang="en">
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-img py-5 text-center text-light">
            <h1>Dashboard &gt; Edit Profile</h1>
        </div>
        <div class="col-md-6 mx-auto p-3 bg-light my-2">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if status %}
                    <div class="alert alert-primary">{{status}}</div>
                {% endif %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="fname" placeholder="Enter First Name" value="{{user.first_name}}">
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" value="{{user.last_name}}">
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter Name" value="{{user.email}}">
                        </div>
                        <div class="col-md-6">
                            <label>Age (in years)</label>
                            <input type="number" class="form-control" name="age" placeholder="Enter Age" min="15" max="99"
                            value="{{data.age}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Contact Number</label>
                            <input type="text" value="{{data.contact_number}}" class="form-control" name="contact" placeholder="Enter Contact Number" pattern="[0-9]{10}" title="Number must contain 10 digits only!!">
                        </div>
                        <div class="col-md-6">
                            <label>City</label>
                            <input type="text" class="form-control" name="city" placeholder="Enter City" value="{{data.city}}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <label>Gender</label>
                  
                            <select name="gender"  class="form-control">
                                <option value="Male">Male</option>

                                {% if data.gender == "Female" %}
                                <option value="Female" selected>Female</option>
                                {% else %}
                                <option value="Female">Female</option>
                                {% endif %}

                                {% if data.gender == "Others" %}
                                <option value="Others" selected>Others</option>
                                {% else %}
                                <option value="Others">Others</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" name="changeprofile" value="Save Changes" class="btn btn-primary" style="width:50%;border-radius:20px;">
                </div>


            </form>
        </div>
    </div>
</div>
{% endblock %}

</html>
