<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}

<body lang="en">
{% block content %}
<body style="background-color:white;margin-top: 55px;flex-grow: 1;">

    <div class="container">
            <br>
            <div class="jumbotron" style="background-color: white; " >
                <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
                <h1 class="display-4" style="text-align: center; color: black; font-family: 'Bangers', cursive;">Register</h1>
                <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
                <p class="lead" style="font-family: 'Overpass', sans-serif; text-align: center;"><b>Create Your Account</b></p>
              
             <!-- <img src="{% static 'Images/signup-image.jpg' %}" alt="" srcset="" style=""> -->
            <form method="POST" class="form-style"
            style="background-color: white;  padding-left: 100px; padding-right: 100px; padding-top: 20px; padding-bottom: 60px; margin-left: 20%; margin-right: 20%; margin-top: 5%;   ">
            <img src="{% static 'Images/signup-image.jpg' %}" alt="Sign Up" style="margin-left: 30%; height: 35%; width: 35%;">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button class="btn btn-success" style="border-radius: 25px; margin-left: 35%; " type="submit"><b>Register</b></button>
                <br>
                <br>
                <strong style="margin-left: 25%; font-size: 1vw;" >Already on RESCUE? </strong><a href="/login" style="color: rgb(30,142,62); font-size: 1vw;" ><b><u>Sign In</u></b></a>
            </form>
            <br>
            <strong>Already on RESCUE? </strong><a href="/login" style="color: rgb(30,142,62);" ><strong><b><u>Sign In</u></b></strong></a>
    </div>
    <br>
    <br>
{% endblock %}
</html>