<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}
<html lang="en">
    {% block content %}
    <br>
    <body style="background-color:white;">
        <div class="container">
            <div class="jumbotron" style="background-color:white;">
              <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
              <h1 class="display-4" style="color: black; font-family: 'Bangers', cursive;">Women's Rights</h1>
              <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
              <p class="lead" style="font-family: 'Overpass', sans-serif;"><b>"Awareness about Your Rights gives You the Might to Treated Right"</b></p>
              <hr class="my-10">
              <a  style="color:white; background-color:black;" class="btn btn-primary btn-lg" href="https://www.indiatoday.in/education-today/gk-current-affairs/story/11-women-rights-india-312263-2016-03-08" role="button" target="_blank"><b>DETAILS</b></a>
            </div>

            <ul class = "collapsible popout" data-collapsible = "accordion">
                <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Legal Services Authorities</h5></div>
                    <div class = "collapsible-body"><p> This provides for free legal services to Indian women.</p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have the right against workplace harassment</h5></div>
                    <div class = "collapsible-body"><p>The Sexual Harassment of Women at Workplace Act gives a female the right to file a complaint against any kind of sexual harassment at her place of work. Under this act, she can submit a written complaint to an Internal Complaints Committee (ICC) at a branch office within a period of 3 months. </p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have a right to Zero FIR</h5></div>
                    <div class = "collapsible-body"><p>An FIR that can be filed at any police station irrespective of the location where the incident occurred or a specific jurisdiction it comes under, the Zero FIR can later be moved to the Police Station in whose jurisdiction the case falls under. This ruling was passed by the Supreme Court to save the victim's time and prevent an offender from getting away scot-free. </p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have a right against domestic violence</h5></div>
                    <div class = "collapsible-body"><p>Section 498 of the Indian Constitution looks to protect a wife, female live-in partner or a woman living in a household like a mother or a sister from domestic violence (including verbal, economic, emotional and sexual) by the hands of a husband, male live-in partner or relatives.</p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Pre-Conception and Pre-Natal Diagnostic Techniques (Prohibition of Sex Selection)</h5></div>
                    <div class = "collapsible-body"><p>This will prevent of sex selection before or after a woman conceives. This will reduce unwanted and illegal abortions in the country.

                    </p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have the right to get free legal aid</h5></div>
                    <div class = "collapsible-body"><p>Under the Legal Services Authorities Act, female rape victims have the right to get free legal aid or help from the Legal Services Authority who has to arrange a lawyer for her.</p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header"  style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have the right to equal pay</h5></div>
                    <div class = "collapsible-body"><p>According to the provisions listed under the Equal Remuneration Act, one cannot be discriminated on the basis of sex when it comes to salary, pay or wages. Working women have the right to draw an equal salary, as compared to men.</p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Female sexual assault victims have the right to keep their identity anonymous</h5></div>
                    <div class = "collapsible-body"><p>To ensure that her privacy is protected, a woman who has been sexually assaulted may record her statement alone before the district magistrate when the case is under trial, or in the presence of a female police officer.</p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have right not to be arrested at night</h5></div>
                    <div class = "collapsible-body"><p>Unless there is an exceptional case on the orders of a first class magistrate, a woman cannot be arrested after sunset and before sunrise. In addition, the law also states that the police can interrogate a woman at her residence only in the presence of a woman constable and family members or friends. </p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have the right to register virtual complaints</h5></div>
                    <div class = "collapsible-body"><p>The law gives women the provision for filing virtual complaints via e-mail, or writing her complaint and sending it to a police station from a registered postal address. Further, the SHO sends a police constable to her place to record her complaint. This is in case a woman is not in a position to physically go to a police station and file a complaint. </p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Hindu Succession Act</h5></div>
                    <div class = "collapsible-body"><p>This recognises the right of women to inherit parental property equally with men. </p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have the right against indecent representation</h5></div>
                    <div class = "collapsible-body"><p>Depiction of a woman's figure (her form or any body part) in any manner that is indecent, derogatory, or is likely to deprave, corrupt or injure the public morality or morals, is a punishable offence.</p></div>
                 </li>
                 <br>
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have the right against being stalked</h5></div>
                    <div class = "collapsible-body"><p>Section 354D of the IPC makes way for legal action to be taken against an offender if he/she follows a woman, tries to contact her to foster personal interaction repeatedly despite a clear indication of disinterest; or monitor the use by a woman of the internet, email or any other form of electronic communication.</p></div>
                 </li>
                 <br>
                 
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Women have the right to dignity and decency</h5></div>
                    <div class = "collapsible-body"><p>In an event that the accused is a woman, any medical examination procedure on her must be performed by -- or in the presence of -- another woman.</p></div>
                 </li>
            </ul>
            <br>
        </div>
    </body>
    {% endblock %}
</html>