<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}
<html lang="en">
{% block content %}
<br>
<title> Rescue | Women Laws </title>
<head>
    <style>
        .btn-details {
            background-color: black;
            color: white;
            text-align: center;
            margin-top: -60%;
            margin-left: 31%;
        }

        .btn-details:hover {
            background-color: #f1f1f1;
            color: black;
            text-align: center;
        }

        .collapsible-header:hover {
            background-color: #f6f5f5;
        }

        .collapsible-header {
            background-color: white;
            font-family: 'Alegreya', serif;
        }
        .collapsible-header h5 {
            font-size: 1.75rem;
        }

        .collapsible-header.active {
            background-color: #f6f5f5;
        }

        .collapsible {
            margin-top: -15%;
        }

        .collapsible-body {
            text-align: justify;
            font-family: 'Arvo', serif;
            font-size: 1.25rem;
        }

        .wb-stl-heading1 {
            text-align: center;
            margin-top: 40px;
            font-size: 40px;
            font-family: 'Roboto Slab', serif;
        }

        .img-responsive,
        .img1-responsive {
            height: auto;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        html {
            scroll-behavior:smooth;
        }

    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>

<body style="background-color:white;margin-top: 150px;">
    <div class="row justify-content-center"
        style="width: 100%; margin:0 auto; background-color:white;font-size:200px;text-shadow: 0 0 20px white">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
        <div class="column">
            <img src="{% static 'Images/law.jpg' %}" data-aos="zoom-in" class="img1-responsive" alt="24 * 7" style="margin-top: -200px;">
        </div>

        <div class="column">
            <h1 class="wb-stl-heading1" data-aos="fade-down"> 
                <strong style="text-shadow: 2px 2px grey; text-align: center; ">
                    <font color="black">Women's Safety Laws</font>
                </strong>
                <img src="{% static 'Images/law_pic.jpg' %}" alt="24 * 7" height="50vw">
            </h1>
            <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
            <p class="lead text-center" style="font-family: 'Overpass', sans-serif;"><b>"Always REMEMBER Awareness without Action is
                    Worthless"</b></p>
            <hr class="my-10">
            <a class="btn btn-details" href="https://en.wikipedia.org/wiki/Women_in_India#Women's_safety_laws"
                target="_blank"><b>MORE DETAILS</b></a>
        </div>
    </div>

    <div class="container">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>The Commission of Sati (prevention) Act(1987)</h5>
                </div>
                <div class="collapsible-body">
                    <p>Sati (Prevention) Act, 1987 is a law enacted by Government of Rajasthan in 1987.
                        It became an Act of the Parliament of India with the enactment of The Commission of Sati
                        (Prevention) Act, 1987 in 1988.
                        The Act seeks to prevent sati, the practice of voluntary or forced burning or burying alive of a
                        widow, and to prohibit glorification
                        of this action through the observance of any ceremony, participation in any procession, creation
                        of a financial trust, construction
                        of a temple, or any actions to commemorate or honor the memory of a widow who committed
                        sati.Sati was first banned under Bengal Sati
                        Regulation, 1829.An Act to provide for the more effective prevention of the commission of sati
                        and its glorification and for matters
                        connected therewith or incidental thereto. Whereas sati or the burning or burying alive of
                        widows or women is revolting to the
                        feelings of human nature and nowhere enjoined by any of the religions of India as an imperative
                        duty;
                        And whereas it is necessary to take more effective measure to prevent the commission of sati and
                        its glorification.
                    </p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Protection of Women Against Domestic Violence Act(2005) </h5>
                </div>
                <div class="collapsible-body">
                    <p>The Protection of Women from Domestic Violence Act 2005 is an Act of the Parliament of India
                        enacted to
                        protect women from domestic violence. It was brought into force by the Indian government from 26
                        October 2006. The Act provides for the
                        first time in Indian law a definition of "domestic violence", with this definition being broad
                        and including not only physical violence,
                        but also other forms of violence such as emotional/verbal, sexual, and economic abuse. It is a
                        civil law meant primarily for protection
                        orders and not for meant to be enforced criminally. Domestic violence is defined by Section 3 of
                        the Act as[3] "any act, omission or
                        commission or conduct of the respondent shall constitute domestic violence in case it:harms or
                        injures or endangers the health, safety,
                        life, limb or well-being, whether mental or physical, of the aggrieved person or tends to do so
                        and includes causing physical abuse,
                        sexual abuse, verbal and emotional abuse and economic abuse; harasses, harms, injures or
                        endangers the aggrieved person to coerce her or
                        any other person related to her to meet any unlawful demand for any dowry or other property or
                        valuable security;has the effect of
                        threatening the aggrieved person or any person related to her by any conduct mentioned in clause
                        (a) or clause (b); or otherwise injures or
                        causes harm, whether physical or mental, to the aggrieved person.
                    </p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>The Prohibition of Child Marriage Act(2006) </h5>
                </div>
                <div class="collapsible-body">
                    <p>According to the International Research Centre for Women, almost 40 percent of girls are married
                        before the age
                        of 18. Currently, India ranks 6th in the world when it comes to child marriages. Since child
                        marriage has been
                        steeped into the Indian culture and tradition since centuries, it has been tough eliminating it.
                        The Prohibition
                        of Child Marriage Act was made effective in 2007. This act defines child marriage as a marriage
                        where the groom
                        or the bride are underage, that is, the bride is under 18 years of age or the boy is younger
                        than 21 years.
                        Parents trying to marry underage girls are subject to action</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>The Immoral Traffic (Prevention) Act(1956) </h5>
                </div>
                <div class="collapsible-body">
                    <p>Prostitution is legal in India. A number of related activities including soliciting in a public
                        place,
                        kerb crawling, owning or managing a brothel, prostitution in a hotel,child prostitution, pimping
                        and pandering are illegal.There are,
                        however, many brothels illegally operating in Indian cities including Mumbai, Delhi, Kolkata and
                        Chennai.UNAIDS estimate there were
                        657,829 prostitutes in the country in 2016. Government organisations like MDACS (Maharashtra
                        District AIDS Control Society) have played
                        a very prominent role in generating awareness on HIV/AIDS through the assistance in providing
                        free literature and organising street campaigns.
                        There are several NGO that feed on funds for protecting STI/STDs spread to common population
                        NACO (National AIDS Control Organisation),
                        a government agency lead these NGOs.The law is vague on prostitution itself.The primary law
                        dealing with the status of sex workers is
                        the 1956 law referred to as The Immoral Traffic (Suppression) Act (SITA). According to this law,
                        prostitutes can practise their trade
                        privately but cannot legally solicit customers in public.A BBC article, however, mentions that
                        prostitution is illegal in India; the
                        Indian law does not refer to the practice of selling one's own sexual service as
                        "prostitution".Clients can be punished for sexual
                        activity in proximity to a public place. Organised prostitution (brothels, prostitution rings,
                        pimping, etc.) is illegal. As long as it
                        is done individually and voluntarily, a woman (male prostitution is not recognised in any law in
                        India) can use her body in exchange for
                        material benefit. In particular, the law forbids a sex worker to carry on her profession within
                        200 yards of a public place. Unlike as is
                        the case with other professions, sex workers are not protected under normal labour laws, but
                        they possess the right to rescue and
                        rehabilitation if they desire, and they possess all the rights of other citizens.Over the years,
                        India has seen a growing mandate to
                        legalise prostitution, to avoid exploitation of sex workers and their children by middlemen and
                        in the wake of a growing HIV/AIDS menace.
                    </p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Special Marriage Act(1954) </h5>
                </div>
                <div class="collapsible-body">
                    <p>The objectives of this act is to provide – A special form of marriage in certain cases, provide
                        for
                        registration of certain marriages and, to provide for divorce. In a country like India and with
                        the diverse
                        religions and cast, when people from different faiths and caste chose to get married they do it
                        under the
                        Special Marriage Act. It is not applicable to the state of Jammu & Kashmir and also extends to
                        intending
                        spouses who are Indian nationals and living abroad.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Dowry Prohibition Act(1961) </h5>
                </div>
                <div class="collapsible-body">
                    <p>According to this act, taking or giving of dowry at the time of the marriage to the bride or the
                        bridegroom and
                        their family is to be penalised. Dowry System, giving and taking of dowry, is a norm in India.
                        Dowry is often asked of the bride and her
                        family by the groom and his family. The system has taken strong roots because women after
                        marriage move in with their spouse and in-laws.
                        Also, over the centuries, the lack for economic independence of women and the taboo towards
                        divorce has resulted in bride burning.
                        When demands for dowry even after marriage are not met by the girl&#39s families, many women are
                        tortured, beaten and even burnt. It is one
                        of the major challenges that our society is grappling with. Women openly complaining about it
                        has helped to spread the word and encourage
                        other women to take a stand. </p>
                </div>
            </li>
            <br>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Indian Divorce Act(1969) </h5>
                </div>
                <div class="collapsible-body">
                    <p>The Indian Divorce Act allows the dissolution of marriage, mutual consent, nullity of marriage,
                        judicial
                        separation and restitution of conjugal rights. Family Courts are established to file, hear, and
                        dispose of such
                        cases.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Medical Termination of Pregnancy Act(1971) </h5>
                </div>
                <div class="collapsible-body">
                    <p>The Act came into effect into 1972, was amended in 1975 and 2002. The aim of the Act is to reduce
                        the
                        occurrence of illegal abortion and consequent maternal mortality and morbidity. It clearly
                        states the conditions
                        under which a pregnancy can be ended or aborted and specifies the persons qualified to conduct
                        the same.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Maternity Benefit Act(1861) </h5>
                </div>
                <div class="collapsible-body">
                    <p>This act regulates the employment of women and maternity benefits mandated by law. It states that
                        a woman
                        employee who has worked in an organisation for a period of at least 80 days during the 12 months
                        preceding the
                        date of her expected delivery is entitled to receive maternity benefits, which includes
                        maternity leave, nursing
                        breaks, medical allowance, etc.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>The Criminal Law (Amendment) Act(2013) </h5>
                </div>
                <div class="collapsible-body">
                    <p>The Criminal Law (Amendment) Act, 2013 (Nirbhaya Act) is an Indian legislation passed by the Lok
                        Sabha
                        on 19 March 2013, and by the Rajya Sabha on 21 March 2013, which provides for amendment of
                        Indian Penal Code, Indian Evidence Act, and
                        Code of Criminal Procedure, 1973 on laws related to sexual offences.The Bill received
                        Presidential assent on 2 April 2013 and was deemed
                        to be effective from 3 February 2013. It was originally an Ordinance promulgated by the
                        President of India, Pranab Mukherjee, on
                        3 February 2013, in light of the protests in the 2012 Delhi gang rape case.The law has been
                        severely criticized for being gender
                        biased and giving women the legal authority to commit exactly the same crimes (against which
                        they seek protection) against men with
                        impunity. The Criminal Law (Amendment) Ordinance, 2013 has been strongly criticised by several
                        human rights and women's rights
                        organisations for not including certain suggestions recommended by the Verma Committee Report
                        like, marital rape, reduction of age of
                        consent[failed verification], amending Armed Forces (Special Powers) Act so that no sanction is
                        needed for prosecuting an armed force
                        personnel accused of a crime against woman.The Government of India, replied that it has not
                        rejected the suggestions fully, but changes
                        can be made after proper discussion.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Sexual Harassment of Women at Workplace</h5>
                </div>
                <div class="collapsible-body">
                    <p>To ensure women&#39s safety at workplace, this Act seeks to protect them from sexual harassment
                        at their place
                        of work. Thirty-six percent of Indian companies and 25 percent among MNC&#39s are not complaint
                        with the Sexual
                        Harassment Act according to a FICCI-EY November 2015 report. Sexual harassment at workplace also
                        includes &#45
                        the use of language with sexual overtones, invasion of private space with a male colleague
                        hovering too close
                        for comfort, subtle touches and innuendoes. </p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Indecent Representation of Women(Prevention) Act(1986) </h5>
                </div>
                <div class="collapsible-body">
                    <p>This Act prohibits indecent representation of women through advertisement or in publications,
                        writings,
                        paintings, figures or in any other manner. </p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>National Commission for Women Act(1990) </h5>
                </div>
                <div class="collapsible-body">
                    <p>The National Commission for Women (NCW) is a statutory body of the Government of India,
                        established in January
                        1992. Lalitha Kumaramangalam was appointed its Chairperson in 2014. The NCW represents the
                        rights of women in
                        India and provides a voice for their issues and concerns. The National Commission for Women Act
                        aims to improve
                        the status of women and worked for their economic empowerment.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Equal Remuneration Act(1976) </h5>
                </div>
                <div class="collapsible-body">
                    <p>This Act prevents discrimination in terms of remuneration. It provides for payment of equal
                        recompense to men
                        and women workers. It is necessary to know these and other laws in place to protect the
                        interests of women. Only
                        if you are aware of your rights can you fight against any injustice meted out to you at home, at
                        the workplace,
                        or in the society.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">arrow_drop_down</i>
                    <h5>Family Courts Act(1984) </h5>
                </div>
                <div class="collapsible-body">
                    <p>Family court was originally created to be a Court of Equity convened to decide matters and make
                        orders
                        in relation to family law, such as custody of children and could disregard certain legal
                        requirements as long as the petitioner/plaintiff
                        came into court with “clean hands” and the request was reasonable, “quantum meruit”. Changes in
                        laws and rules have made this distinction
                        superfluous.Family courts hear all cases that relate to familial and domestic relationships.
                        Each state and each country has a different
                        system utilized to address family law cases including decisions regarding divorce cases.</p>
                </div>
            </li>
        </ul>
        <br>
    </div>
    <div>
        <img src="{% static 'Images/women-picture.jpg' %}" class="img-responsive" alt="">
    </div>
</body>

{% endblock %}

</html>