<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register here</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="sub-container">
            <div class="banner-img">
                <picture>
                    <source media="(min-width: 501px)" srcset="deskbg.png">
                    <source media="(max-width: 500px)" srcset="deskbg.png">
                    <img src="deskbg.png" alt="WELCOME">
                </picture>
            </div>
            <div class="login-form">
                <div class="title">
                    login form
                </div>
                <div class="input-fields">
                    <label class="label">Username</label>
                    <input type="text" class="input">
                </div>
                <div class="input-fields">
                    <label class="label">Password</label>
                    <input type="text" class="input">
                </div>
                <div class="forgot">
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="btn">
                    login
                </div>
            </div>
        </div>
    </div>

</body>

</html>