*, *::after, *::before {
    box-sizing: border-box;
}

footer {
    padding: 0.2em 1em;
    background: rgb(21,48,78) !important; 
    color: #f3f2da;

}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.info {
    flex-basis: 45%;
    margin: 0 auto;
    flex-grow: 1;
}
.pages {
    text-align: center;
    flex-basis: 45%;
    flex-grow: 1;
    margin: 0 auto;
}
.pages li {
    display: inline-block;
    padding: 1em;
    margin: 0 auto;
}

footer a:hover{
    text-decoration: underline;
}
.copy-info {
    text-align: center;
    padding: 1em;
}
