*, *::after, *::before {
    box-sizing: border-box;
}

footer {
    padding: 0.2em 1em;
    background: #045762;
    color: #f3f2da;
    font-family: Georgia, 'Times New Roman', Times, serif important;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.footer-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.info {
    flex-basis: 20%;
    margin: 0 auto;
    flex-grow: 1;
}
footer h4 {
    font-size: 2em;
    margin: 0.6em;
}
.newsletter {
    max-width: 100%;
    text-align: center;
    flex-grow: 1;
}
.pages {
    text-align: center;
    flex-basis: 20%;
    flex-grow: 1;
    margin: 0 auto;
}
.pages li {
    display: inline-block;
    padding: 1em;
    margin: 0 auto;
}
input {
    font-size: 1.4em;
    padding: 0.5em;
    text-align: center;
    max-width: 60%;
    background: #ffffff !important;
}
input[type=submit] {
    width: fit-content;
    padding: 0.3em;
    background: #e05297 !important;
    color: #ffffff;
}
footer a:hover{
    text-decoration: underline;
}
.social {
    text-align: center;
    margin: 0 auto;
}
.social li {
    display: inline-block;
    padding: 0.5em;
}
.copy-info {
    text-align: center;
    padding: 1em;
}
